body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aliceblue;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.9); /* Slight transparency for nice effect */
    padding: 60px;
    width: 300px;
    border-radius: 8px;
    /* text-align: center; */
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

input {
    width: 92%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #aaa;
}

button {
    width: 100%;
    padding: 12px;
    background: #152a38;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #102635;
}

#msg {
    color: red;
    margin-top: 10px;
}
.backtologin{
    text-align: center;
}
