body {
    background: url("imagesn.jpg")no-repeat center center/cover;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container1 {
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 20px;
}
#startQuizButton {
    background-color: #ff5722;
    color: #fff;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
#startQuizButton:hover {
    background-color: #e64a19;
}
.second, .second2, .second3 {
    margin-top: 15px;
}

